<canvas id="canvas" width="400" height="400" style="text-align: center;"></canvas>


<% if false %>
<div id="container" style="text-align: center;">


</div>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
  <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
  <g><g><g><path id="product-a" d="M990,419.9L696.7,171L578.2,271.6v-46h-75.4v109.9l-98.6,83.6l85.5,0.1v273.9H10v293.1h255.4c0.7-82.4,31.5-154.6,115.2-189.8c40.7-17.1,84.1-22.9,127.2-31.4c54.6-10.8,84.9-24.2,114.7-61.9c2.4-3.1,4.9-6.5,7.4-9.9c0.8-1.1,1.6-2.3,2.4-3.4V542.4h133.1v150.7v9.9v15.2H765c-0.8,9.5-4.1,19.5-10.6,29.6C696.2,839,633.3,877.6,527.4,897.2c-33.3,6.1-76.9,8.7-106.1,27.3c-20.8,13.2-24.6,37.3-23.8,61.7h-79.2H990V693.1h-85.5V419.8L990,419.9z"/>
  <path id="product-c" d="M263.1,86.7c3.5-7.5,5.6-16.5,5.6-26.3c0,0-14.2-46.5-31.7-46.5h-0.8c-17.5,0-31.7,46.5-31.7,46.5c0,9.8,2.1,18.8,5.6,26.3c8.6-1.8,17.4-2.9,26.5-2.9C245.7,83.8,254.5,84.8,263.1,86.7z"/>
  <path id="product-c" d="M40.6,209.4v0.8c0,17.5,46.5,31.7,46.5,31.7c9.8,0,18.8-2.1,26.3-5.6c-1.8-8.6-2.9-17.4-2.9-26.5c0-9.1,1-18,2.9-26.5c-7.5-3.5-16.5-5.6-26.3-5.6C87.1,177.7,40.6,191.9,40.6,209.4z"/>
  <path id="product-c" d="M210,332.9c-3.5,7.5-5.6,16.5-5.6,26.3c0,0,14.2,46.5,31.7,46.5h0.8c17.5,0,31.7-46.5,31.7-46.5c0-9.8-2.1-18.8-5.6-26.3c-8.6,1.8-17.4,2.9-26.5,2.9C227.4,335.7,218.6,334.7,210,332.9z"/>
  <path id="product-c" d="M299.9,318.5c2.4,7.9,7,16.1,13.7,23.3c0,0,41.8,24.8,54.8,13l0.6-0.6c12.9-11.8-7.9-55.7-7.9-55.7c-6.6-7.3-14.3-12.6-22-15.7C328.7,297.3,315.3,309.5,299.9,318.5z"/>
  <path id="product-c" d="M368.3,64.7c-12.9-11.8-54.8,13-54.8,13c-6.6,7.3-11.2,15.4-13.7,23.3c15.4,9,28.8,21.2,39.1,35.7c7.7-3.2,15.4-8.5,22-15.7c0,0,20.9-43.9,7.9-55.7L368.3,64.7z"/>
  <path id="product-c" d="M104.8,64.7l-0.6,0.6c-12.9,11.8,7.9,55.7,7.9,55.7c6.6,7.3,14.3,12.6,22,15.7c10.4-14.5,23.7-26.7,39.1-35.7c-2.4-7.9-7-16.1-13.7-23.3C159.5,77.7,117.7,52.9,104.8,64.7z"/>
  <path id="product-c" d="M134.1,282.8c-7.7,3.2-15.4,8.5-22,15.7c0,0-20.9,43.9-7.9,55.7l0.6,0.6c12.9,11.8,54.8-13,54.8-13c6.6-7.3,11.2-15.4,13.7-23.3C157.8,309.5,144.4,297.3,134.1,282.8z"/>
  <path id="product-c" d="M432.5,210.2v-0.8c0-17.5-46.5-31.7-46.5-31.7c-9.8,0-18.8,2.1-26.3,5.6c1.8,8.6,2.9,17.4,2.9,26.5c0,9.1-1,18-2.9,26.5c7.5,3.5,16.5,5.6,26.3,5.6C386,241.9,432.5,227.7,432.5,210.2z"/>
  <path id="product-b" d="M148,140c-11.5,14.6-19.4,32.1-22.6,51.3c-1,6-1.6,12.1-1.6,18.4s0.6,12.4,1.6,18.4c3.1,19.2,11.1,36.7,22.6,51.3c7.7,9.7,16.8,18.1,27.2,24.9c12.8,8.3,27.3,14,42.9,16.6c6,1,12.1,1.6,18.4,1.6c6.3,0,12.4-0.6,18.4-1.6c15.6-2.6,30.2-8.3,42.9-16.6c10.4-6.7,19.6-15.2,27.2-24.9c11.5-14.6,19.4-32.1,22.6-51.3c1-6,1.6-12.1,1.6-18.4s-0.6-12.4-1.6-18.4c-3.1-19.2-11.1-36.7-22.6-51.3c-7.7-9.7-16.8-18.1-27.2-24.9c-12.8-8.3-27.3-14-42.9-16.6c-6-1-12.1-1.6-18.4-1.6c-6.3,0-12.4,0.6-18.4,1.6c-15.6,2.6-30.2,8.3-42.9,16.6C164.8,121.9,155.6,130.3,148,140z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></g>
  </svg>
    <img id="background-image" src="boxes.jpg" alt="">
</div>


<div class="colors">
  <div class="color" style="background-color: #ff0000" data-hex="#ff0000"></div>
  <div class="color" style="background-color: #ffff33" data-hex="#ffff33"></div>
  <div class="color" style="background-color: #3399ff" data-hex="#3399ff"></div>
</div>

<% end %>
